.movieSection {
  position: relative;
  top: -8rem;
  z-index: 3;
  margin-bottom: 1rem;
}

.movieSectionTitle {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  margin-left: clamp(1rem, 3vw, 2rem);
  margin-bottom: 1rem;
  border-radius: 10px 0 0 10px;
}

.movieSectionIcon {
  color: #00b7ff;
}

.movieList {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
}

.movieItem {
  width: clamp(130px, 20vw, 250px);
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.3s ease;
}

.movieItem:hover {
  transform: scale(1.05);
}

.moviePoster {
  width: 100%;
  height: auto;
}

.movieList::-webkit-scrollbar {
  height: 10px; /* Barra horizontal */
}

.movieList::-webkit-scrollbar-track {
  background: #cccccc56;
  border-radius: 10px;
}

.movieList::-webkit-scrollbar-thumb {
  background: #00668f;
  border-radius: 10px;
}

.movieList::-webkit-scrollbar-thumb:hover {
  background: #008fc7;
  cursor: pointer;
}
