.searchBar {
  border: none;
  border-radius: 5px;
  background-color: #0000008e;
  border: 1px solid #00b7ff6c;
}

.searchBar input {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 6px 10px;
  width: 100%;
  color: #fff;
}