.searchPage {
  flex-grow: 1;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultCount {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
  padding-top: 5rem;
  color: #ccc;
  text-align: center;
}

.moviesContainer {
  width: 100%;
  margin: 0 auto;
  padding: clamp(6px, 2vw, 16px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 20vw, 200px), 2fr));
  gap: clamp(10px, 2vw, 16px);
}

.movieItem {
  position: relative;
  transition: transform 0.3s ease;
}

.playOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.playIcon {
  color: #00b7ff;
  font-size: 2rem;
}

.movieItem:hover .playOverlay {
  opacity: 1;
}

.movieItem:hover {
  transform: scale(1.05);
}

.movieItem img{
  width: 100%;
  height: auto;
}